// susy setup ---------------------------------------------
$total-columns 			: 12;
$column-width 			: 6em;
$gutter-width 			: 1em;
$grid-padding 			: $gutter-width;

@include border-box-sizing;

$small 					: 30em;
$medium 				: 47em;
$large 					: 75em;

