/* line 130, row-layouts/*.png */
.row-layouts-sprite, .row-layouts-layout_1, .row-layouts-layout_10, .row-layouts-layout_11, .row-layouts-layout_12, .row-layouts-layout_2, .row-layouts-layout_3, .row-layouts-layout_4, .row-layouts-layout_5, .row-layouts-layout_6, .row-layouts-layout_7, .row-layouts-layout_8, .row-layouts-layout_9 {
  background: url('/images/row-layouts-s063e272070.png') no-repeat;
}

/* line 60, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.row-layouts-layout_1 {
  background-position: 0 0;
}

/* line 60, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.row-layouts-layout_10 {
  background-position: 0 -27px;
}

/* line 60, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.row-layouts-layout_11 {
  background-position: 0 -38px;
}

/* line 60, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.row-layouts-layout_12 {
  background-position: 0 -126px;
}

/* line 60, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.row-layouts-layout_2 {
  background-position: 0 -49px;
}

/* line 60, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.row-layouts-layout_3 {
  background-position: 0 -60px;
}

/* line 60, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.row-layouts-layout_4 {
  background-position: 0 -11px;
}

/* line 60, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.row-layouts-layout_5 {
  background-position: 0 -71px;
}

/* line 60, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.row-layouts-layout_6 {
  background-position: 0 -82px;
}

/* line 60, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.row-layouts-layout_7 {
  background-position: 0 -93px;
}

/* line 60, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.row-layouts-layout_8 {
  background-position: 0 -104px;
}

/* line 60, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.row-layouts-layout_9 {
  background-position: 0 -115px;
}

/* line 14, ../../../../../../../../../var/lib/gems/1.8/gems/susy-1.0.9/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../sass/sites_flatpage/partials/_module.scss */
.contentHeader {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 10px;
}
/* line 4, ../sass/sites_flatpage/partials/_module.scss */
.contentHeader h3 {
  font-size: 1.1rem;
  float: left;
}
/* line 8, ../sass/sites_flatpage/partials/_module.scss */
.contentHeader .btn {
  float: right;
}

/* line 12, ../sass/sites_flatpage/partials/_module.scss */
.table {
  width: 100%;
  border: 1px solid #859ca4;
}
/* line 14, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
.table th, .table td {
  border-right: 1px solid #bfcbd0;
  border-bottom: 1px solid #bfcbd0;
  border-left-width: 0px;
  border-top-width: 0px;
}
/* line 21, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
.table th:last-child, .table th.last, .table td:last-child, .table td.last {
  border-right-width: 0px;
}
/* line 29, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
.table tbody tr:last-child th, .table tbody tr:last-child td, .table tfoot tr:last-child th, .table tfoot tr:last-child td {
  border-bottom-width: 0px;
}
/* line 32, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
.table tbody tr.last th, .table tbody tr.last td, .table tfoot tr.last th, .table tfoot tr.last td {
  border-bottom-width: 0px;
}
/* line 2, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
.table th {
  background-color: white;
}
/* line 4, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
.table th.even, .table th:nth-child(2n) {
  background-color: white;
}
/* line 8, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
.table tr.odd td, .table tr:nth-child(2n+1) td {
  background-color: #edf0f0;
}
/* line 10, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
.table tr.odd td.even, .table tr.odd td:nth-child(2n), .table tr:nth-child(2n+1) td.even, .table tr:nth-child(2n+1) td:nth-child(2n) {
  background-color: #edf0f0;
}
/* line 14, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
.table tr.even td {
  background-color: #2176c7;
}
/* line 16, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
.table tr.even td.even, .table tr.even td:nth-child(2n) {
  background-color: #2176c7;
}
/* line 19, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
.table tfoot th, .table tfoot td {
  background-color: white;
}
/* line 21, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
.table tfoot th.even, .table tfoot th:nth-child(2n), .table tfoot td.even, .table tfoot td:nth-child(2n) {
  background-color: white;
}
/* line 17, ../sass/sites_flatpage/partials/_module.scss */
.table td, .table th {
  padding: 0.4% 1%;
}
/* line 20, ../sass/sites_flatpage/partials/_module.scss */
.table td {
  font-size: 0.7rem;
}
/* line 22, ../sass/sites_flatpage/partials/_module.scss */
.table td.rowOperation {
  width: 9rem;
  text-align: center;
}
/* line 27, ../sass/sites_flatpage/partials/_module.scss */
.table th {
  text-align: center;
  font-weight: 700;
  font-size: 0.8rem;
  color: white;
  text-shadow: 1px 1px 0 #536870;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a2b3ba), color-stop(100%, #859ca4));
  background: -webkit-linear-gradient(top, #a2b3ba, #859ca4);
  background: -moz-linear-gradient(top, #a2b3ba, #859ca4);
  background: -o-linear-gradient(top, #a2b3ba, #859ca4);
  background: linear-gradient(top, #a2b3ba, #859ca4);
}

/* line 37, ../sass/sites_flatpage/partials/_module.scss */
.inputGroup {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 10px;
}
/* line 40, ../sass/sites_flatpage/partials/_module.scss */
.inputGroup .inputLabel {
  float: left;
  width: 8em;
  margin-right: 1em;
  text-align: right;
  font-size: 0.9rem;
  color: #475b62;
}
/* line 47, ../sass/sites_flatpage/partials/_module.scss */
.inputGroup .inputLabel:after {
  content: " :";
}
/* line 51, ../sass/sites_flatpage/partials/_module.scss */
.inputGroup .inputWrap {
  float: left;
}
/* line 54, ../sass/sites_flatpage/partials/_module.scss */
.inputGroup .helpBlock {
  font-size: 0.8rem;
  font-style: italic;
  display: block;
}
/* line 59, ../sass/sites_flatpage/partials/_module.scss */
.inputGroup.formAction {
  padding: 1%;
  text-align: right;
  background-color: #e0e4e4;
}
/* line 65, ../sass/sites_flatpage/partials/_module.scss */
.inputGroup.formAction .btn {
  vertical-align: bottom;
}

/* line 72, ../sass/sites_flatpage/partials/_module.scss */
.composerOperation {
  margin-bottom: 10px;
}

/* line 76, ../sass/sites_flatpage/partials/_module.scss */
.composerOn {
  display: none;
}

/* line 79, ../sass/sites_flatpage/partials/_module.scss */
.composer {
  padding: 1%;
  padding-bottom: 0;
  border: 1px solid #d2d8d8;
  margin-bottom: 10px;
}
/* line 84, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow {
  margin-bottom: 10px;
}
/* line 86, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerRowControls {
  *zoom: 1;
  position: relative;
  z-index: 2;
}
/* line 38, ../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.composer .composerRow .composerRowControls:after {
  content: "";
  display: table;
  clear: both;
}
/* line 90, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerRowControls .control {
  margin-right: 1px;
  line-height: 1em;
  font-size: 1rem;
  float: left;
}
/* line 96, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerRowControls a.control {
  background-color: #d2d8d8;
  color: #9cafb6;
  text-shadow: 0 1px #edf0f0;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  padding: 5px;
  border: 1px solid #c5cccc;
  border-bottom: none;
  width: 2em;
  display: inline-block;
  text-align: center;
}
/* line 110, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerRowControls a.control:hover {
  color: #769099;
}
/* line 113, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerRowControls a.control.move {
  color: #bfcbd0;
  background-color: #e0e4e4;
  border-bottom: 1px solid #e0e4e4;
  cursor: default;
  margin-bottom: -1px;
}
/* line 120, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerRowControls a.control.move:hover {
  color: #bfcbd0;
}
/* line 127, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerGrids {
  overflow: hidden;
  *zoom: 1;
  background-color: #e0e4e4;
  border: 1px solid #c5cccc;
  padding: 1%;
}
/* line 134, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerGrids .cell {
  background-color: white;
  border: 1px solid #d2d8d8;
}
/* line 140, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerGrids .span1 {
  width: 7.22892%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
}
/* line 142, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerGrids .span1.omega {
  width: 7.22892%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 140, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerGrids .span2 {
  width: 15.66265%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
}
/* line 142, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerGrids .span2.omega {
  width: 15.66265%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 140, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerGrids .span3 {
  width: 24.09639%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
}
/* line 142, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerGrids .span3.omega {
  width: 24.09639%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 140, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerGrids .span4 {
  width: 32.53012%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
}
/* line 142, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerGrids .span4.omega {
  width: 32.53012%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 140, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerGrids .span5 {
  width: 40.96386%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
}
/* line 142, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerGrids .span5.omega {
  width: 40.96386%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 140, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerGrids .span6 {
  width: 49.39759%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
}
/* line 142, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerGrids .span6.omega {
  width: 49.39759%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 140, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerGrids .span7 {
  width: 57.83133%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
}
/* line 142, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerGrids .span7.omega {
  width: 57.83133%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 140, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerGrids .span8 {
  width: 66.26506%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
}
/* line 142, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerGrids .span8.omega {
  width: 66.26506%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 140, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerGrids .span9 {
  width: 74.6988%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
}
/* line 142, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerGrids .span9.omega {
  width: 74.6988%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 140, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerGrids .span10 {
  width: 83.13253%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
}
/* line 142, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerGrids .span10.omega {
  width: 83.13253%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 140, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerGrids .span11 {
  width: 91.56627%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
}
/* line 142, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerGrids .span11.omega {
  width: 91.56627%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 140, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerGrids .span12 {
  width: 100%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
}
/* line 142, ../sass/sites_flatpage/partials/_module.scss */
.composer .composerRow .composerGrids .span12.omega {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 149, ../sass/sites_flatpage/partials/_module.scss */
.composer .ui-placeholder-highlight {
  background-color: transparent !important;
  background-image: url("/static/images/diagonal_stripes.png");
  background-repeat: repeat;
  border: none !important;
}
/* line 157, ../sass/sites_flatpage/partials/_module.scss */
.composer .dd {
  font-size: 0.7rem;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #c5cccc;
  border-bottom: none;
}
/* line 163, ../sass/sites_flatpage/partials/_module.scss */
.composer .dd .ddTitle {
  color: #769099;
  background-color: #d2d8d8;
  background-image: none;
}
/* line 169, ../sass/sites_flatpage/partials/_module.scss */
.composer .dd .ddTitle .ddTitleText {
  padding: 5px 25px 5px 5px;
}
/* line 173, ../sass/sites_flatpage/partials/_module.scss */
.composer .dd .divider {
  border-left: 1px solid #c5cccc;
  border-right: 1px solid #d8dcdc;
}
/* line 179, ../sass/sites_flatpage/partials/_module.scss */
.composer .dd .ddArrow {
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 5px;
  font-size: 1.7em;
  color: #9cafb6;
  text-shadow: 0 1px #edf0f0;
  background-image: none;
}
/* line 192, ../sass/sites_flatpage/partials/_module.scss */
.composer .dd .ddArrow:hover {
  color: #769099;
}
